[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anime-downloader = {editable = true,path = "."}

[dev-packages]
twine = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
radon = "*"
"flake8" = "*"
httpretty = "*"
pylint = "*"
python-language-server = {extras = ["all"],version = "*"}
